.bannerBackground {
  height: 700px;
}
.title {
  padding-top: 25%;
  padding-left: 40px;
  color: white;
}

.button {
cursor:pointer;
color: #fff;
outline: none;
border: none;
font-size: 1.2rem;
font-weight: 700;
border-radius: 0.2vw;
padding: 1rem 3rem;
margin-right: 2rem;
background-color: rgba(51, 51,51,0.5);
}
.play {
  background-color: #fff;
  color: #000;
}

.description{
  font-size: 1rem;
  line-height: 1;
  width: 45rem;
  max-width: 360px;
  height: 80px;
}
.fadeBottom{
  height: 40vh;
  background-image: linear-gradient(180deg, transparent, rgb(37, 37, 37,0.91),
  #111);
}